nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.headline {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    word-wrap: break-word;
}

.primary-text {
    color: #FD6E0A;
}

.primary-button {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
    padding: 18px 35px 19px 36px;
}

/* Styling header */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    display: flex;
    padding: 30px 30px 0 150px;
    align-items: center;
    justify-content: space-between;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    word-wrap: break-word;
    margin-bottom: 0;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner-paragraph {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
    margin-top: 20px;
    max-width: 500px;
}

.banner .profile image {
    width: 500px;
}

.about {
    margin: 130px 230px 0px 230px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px;
    padding: 209px 157px 221px 156px;
}

.section-title {
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 30px;
}

.section-description {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: #757575;
    font-size: 18px;

    word-wrap: break-word;
    /* max-width: 500px; */

}